$buttonColor: #BA2C36;
$lightBackground: #353636;
$darkBackground: #252626;
$h1Font: 64px;
$fontColor: #F0F0F0;

*{
    margin: 0;
    padding: 0 ;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: $fontColor;
    scroll-behavior: smooth;
    
    p{
        font-size: 18px;
    }
    input{
        height: 40px;
        outline: none;
    }
    button{
        background-color: $buttonColor;
        color: #fff;
        border: none;
        border-radius: 6px;
        height: 45px;
        outline: none;
        font-size: 16px;
        padding: 0 1rem 0 1rem;
        font-weight: 600;
        img{
            position: relative;
            top: 4px;
            background: transparent;
        }
    }
}

.Expo-page{
    img {
        width: 26rem;
        height: 28rem;
        margin: 0;
        padding: 0;
    }
}


.landing-page{
    background-color: $darkBackground;
    .background{
        position: absolute;
        background-image: url('./assets/image 1.png');
        width: 100%;
        height: 100vh;
        opacity: .1;
    }

    nav, body{
        position: relative;
        z-index: 2;
    }

    nav{
        display: flex;
        justify-content: space-between;
        padding: 2rem 18rem 0 18rem;
        .nav-links{
            ul{
                list-style: none;
                padding-top: 1rem;
                font-size: 14px;
                display: flex;
                hr{
                    border: 2px solid #F15E69;
                    border-radius: 4px;
                    width: 1rem;
                }
                li{
                    margin-right: 2rem;
                }
            }
        }
        button{
            margin-top: 4px;
        }
    }

    body{
        .first-page{
            padding: 10rem 0 0 0;
            .text{
                text-align: center;
                h1{
                    font-size: $h1Font;
                    line-height: 110.5%;
                    span{
                        color: #F15E69
                    }
                } 
                p{
                    padding-top: 1rem;
                }   
                .button-div{
                    margin: 5rem auto;
                    input{
                        width: 20rem;
                        margin-right: 1rem;
                        background: $lightBackground;
                        border: 1px solid $lightBackground;
                    }
                    button{
                        padding: 0 2rem 0 2rem;
                        img{
                            position: relative;
                            top: 3px;
                            background: transparent;
                        }
                    }
                    
                }
            }
            
            @keyframes dera {
                from {margin-top: 50rem;}
                to {margin-top: 0rem;}
            }

            .celebs{
                animation-name: dera;
                animation-duration: 2.5s;
                animation-timing-function: ease-out;
                animation-delay: 0s;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: none;
                animation-play-state: running;
                cursor: zoom-out;
            }
        }
        .second-page{
            margin-top: 5rem;
            padding: 0 200px 0 200px;
            background-color: $lightBackground;
            display: flex;
            justify-content: space-between;
            .text{
                padding: 3rem 0 3rem 0;
                h1{
                    font-size: $h1Font;
                }
                p{
                    margin-top: 3rem;
                    line-height: 150.5%;
                    b{
                        color: #F15E69;
                    }
                }
            }
            
        }
        .third-page{
            margin-top: 5rem;
            .container{
                display: flex;
                justify-content: center;
            }

            .text{
                position: absolute;
                top: 110rem;
                left: 18rem;
                h1{
                    font-size: 100px;
                    span{
                        color: #F15E69;
                    }
                }
                
                button{
                    margin-top: 2rem;
                }    
            }

           
        }
        .fourth-page{
            display: flex;
            justify-content: space-between;
            padding: 5rem 18rem 5rem 18rem;
            h1{
                font-size: $h1Font;
                span{
                    color: #F15E69;
                }
            }
            button{
                position: relative;
                padding: 0 2rem 0 2rem;
                top: 3rem;
                img{
                    position: relative;
                    top: 3px;
                    background: transparent;
                }
            }
        }
    }

    footer{
        padding: 0 120px 57px 18rem;
        .footer-container{
            // margin: auto 120px;
            position: relative;
            top: 3.5rem;
            display: flex;
            justify-content: space-between;
            .logo{
                position: relative;
                top: -.5rem;
            }
            .footer-text{
                display: flex;
                flex-direction: column;
                p{
                    margin-bottom: 2rem;
                    font-size: 14px;
                }
            }
        }
    }
}

.about-page{
    background-color: $darkBackground;
    .background{
        position: absolute;
        background-image: url('./assets/image 1.png');
        width: 100%;
        height: 100vh;
        opacity: .1;
    }

    nav, body{
        position: relative;
        z-index: 2;
    }

    nav{
        display: flex;
        justify-content: space-between;
        padding: 2rem 18rem 0 18rem;
        .nav-links{
            ul{
                list-style: none;
                padding-top: 1rem;
                font-size: 14px;
                display: flex;
                hr{
                    border: 2px solid #F15E69;
                    border-radius: 4px;
                    width: 1rem;
                }
                li{
                    margin-right: 2rem;
                }
            }
        }
        button{
            margin-top: 4px;
        }
    }
    .body{
        .first-page{
            padding: 10rem 0 0 0;
            .text{
                text-align: center;
                h1{
                    font-size: $h1Font;
                    line-height: 110.5%;
                    span{
                        color: #F15E69
                    }
                } 
                p{
                    padding-top: 1rem;
                }   
                .button-div{
                    margin: 5rem auto;
                    input{
                        width: 20rem;
                        margin-right: 1rem;
                        background: $lightBackground;
                        border: 1px solid $lightBackground;
                    }
                    button{
                        padding: 0 2rem 0 2rem;
                    }
                }
                .casette{
                    animation-name: don;
                    animation-duration: 2.5s;
                    animation-timing-function: ease-in-out;
                    animation-delay: 0s;
                    animation-iteration-count: 1;
                    animation-direction: alternate;
                    animation-fill-mode: none;
                    animation-play-state: running;
                    cursor: zoom-out;
                    .lady{
                        height: 25rem;
                        position: relative;
                        bottom: 2rem;
                        right: .5rem;
                    }
                }
                @keyframes don{
                    from {margin: 50rem auto;}
                    to {margin: 1rem auto;};

                    from {display: block;}
                    to {display: none;}
                }
            }
        }
        .second-page{
            margin-top: 5rem;
            padding: 0 200px 0 200px;
            background-color: $lightBackground;
            display: flex;
            justify-content: space-between;
            .text{
                padding: 3rem 0 3rem 0;
                h1{
                    font-size: $h1Font;
                }
                p{
                    margin-top: 3rem;
                    line-height: 150.5%;
                    b{
                        color: #F15E69;
                    }
                }
                .tick{
                    position: relative;
                    top: .3rem;
                }
            }
        }
        .third-page{
            display: flex;
            justify-content: space-between;
            padding: 5rem 18rem 5rem 18rem;
            h1{
                font-size: $h1Font;
                span{
                    color: #F15E69;
                }
            }
            button{
                position: relative;
                padding: 0 2rem 0 2rem;
                top: 3rem;
                img{
                    position: relative;
                    top: 3px;
                    background: transparent;
                }
            }
        }
    }
    footer{
        padding: 0 120px 57px 18rem;
        .footer-container{
            // margin: auto 120px;
            position: relative;
            top: 3.5rem;
            display: flex;
            justify-content: space-between;
            .logo{
                position: relative;
                top: -.5rem;
            }
            .footer-text{
                display: flex;
                flex-direction: column;
                p{
                    margin-bottom: 2rem;
                    font-size: 14px;
                }
            }
        }
    }
}

@media all and (min-width: 320px) and (max-width: 480px){
    *{

        p{
            font-size: 16px;
        }
    }

    .Expo-page{
        img {
            width: 12rem;
            height: 14rem;
            margin: 0;
            padding: 0;
        }
    }

    .landing-page{
        background-color: $darkBackground;
        .background{
            position: absolute;
            background-image: url('./assets/image 1.png');
            width: 100%;
            height: 100vh;
            opacity: .1;
        }
    
        nav, body{
            position: relative;
            z-index: 2;
        }
    
        nav{
            display: flex;
            justify-content: space-between;
            padding: 2rem 0rem 0 2rem;
            .nav-links{
                ul{
                    list-style: none;
                    padding-top: 1rem;
                    font-size: 14px;
                    display: flex;
                    hr{
                        border: 2px solid #F15E69;
                        border-radius: 4px;
                        width: 1rem;
                    }
                    li{
                        margin-right: 2rem;
                    }
                }
            }
            button{
                display: none;
                margin-top: 4px;
            }
        }
    
        body{
            .first-page{
                padding: 4rem 0 0 0;
                .text{
                    padding: 0 2rem 0 2rem;
                    text-align: left;
                    h1{
                        font-size: 36px;
                        line-height: 110.5%;
                        span{
                            color: #F15E69
                        }
                    } 
                    p{
                        padding-top: 1rem;
                    }   
                    .button-div{
                        margin: 2rem auto;
                        input{
                            width: 20rem;
                            margin-right: 1rem;
                            background: $lightBackground;
                            border: 1px solid $lightBackground;
                        }
                        button{
                            margin-top: .5rem;
                            padding: 0 2rem 0 2rem;
                            width: 20rem;
                            img{
                                position: relative;
                                top: 3px;
                                background: transparent;
                            }
                        }
                        
                    }
                }
                
                @keyframes dera {
                    from {margin-top: 50rem;}
                    to {margin-top: 0rem;}
                }
    
                .celebs{
                    animation-name: dera;
                    animation-duration: 2.5s;
                    animation-timing-function: ease-out;
                    animation-delay: 0s;
                    animation-iteration-count: 1;
                    animation-direction: alternate;
                    animation-fill-mode: none;
                    animation-play-state: running;
                    cursor: zoom-out;
                    margin-top: 1rem;
                }
            }
            .second-page{
                margin-top: 2rem;
                padding: 0 2rem 2rem 2rem;
                background-color: $lightBackground;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .text{
                    padding: 2rem 0 2rem 0;
                    h1{
                        font-size: 36px;
                    }
                    p{
                        margin-top: 1rem;
                        line-height: 150.5%;
                        b{
                            color: #F15E69;
                        }
                    }
                }
                .image{
                    position: relative;
                    right: 3rem;
                    img{
                        width: 23rem;
                    }
                }
                
            }
            .third-page{
                margin-top: 2rem;
                .container{
                    display: flex;
                    justify-content: center;
                    height: 16.5rem;
                }
    
                .text{
                    position: absolute;
                    top: 95rem;
                    left: 2rem;
                    h1{
                        font-size: 36px;
                        span{
                            color: #F15E69;
                        }
                    }
                    
                    button{
                        margin-top: 1rem;
                    }    
                }
    
               
            }
            .fourth-page{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 2rem 2rem 2rem 2rem;
                h1{
                    font-size: 36px;
                    span{
                        color: #F15E69;
                    }
                }
                button{
                    position: relative;
                    padding: 0 2rem 0 2rem;
                    top: 1rem;
                    img{
                        position: relative;
                        top: 3px;
                        background: transparent;
                    }
                }
            }
        }
    
        footer{
            padding: 0 0rem 57px 2rem;
            .footer-container{
                margin: auto 0px;
                position: relative;
                top: 3.5rem;
                display: flex;
                justify-content: space-between;
                .footer-text{
                    display: flex;
                    flex-direction: column;
                    margin-left: 3rem;
                    p{
                        margin-bottom: 4rem;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
    .about-page{
        background-color: $darkBackground;
        .background{
            position: absolute;
            background-image: url('./assets/image 1.png');
            width: 100%;
            height: 143vh;
            opacity: .1;
        }
    
        nav, body{
            position: relative;
            z-index: 2;
        }
    
        nav{
            display: flex;
            justify-content: space-between;
            padding: 2rem 0rem 0 2rem;
            .nav-links{
                ul{
                    list-style: none;
                    padding-top: 1rem;
                    font-size: 14px;
                    display: flex;
                    hr{
                        border: 2px solid #F15E69;
                        border-radius: 4px;
                        width: 1rem;
                    }
                    li{
                        margin-right: 2rem;
                    }
                }
            }
            button{
                display: none;
                margin-top: 4px;
            }
        }
        .body{
            .first-page{
                padding: 4rem 2rem 2rem 2rem;
                .text{
                    text-align: left;
                    h1{
                        font-size: 36px;
                        line-height: 110.5%;
                        span{
                            color: #F15E69
                        }
                    } 
                    p{
                        padding-top: 1rem;
                    }   
                    .button-div{
                        margin: 2rem auto;
                        input{
                            width: 20rem;
                            margin-right: 1rem;
                            background: $lightBackground;
                            border: 1px solid $lightBackground;
                        }
                        button{
                            margin-top: .5rem;
                            padding: 0 2rem 0 2rem;
                            width: 20rem;
                            img{
                                position: relative;
                                top: 3px;
                                background: transparent;
                            }
                        }
                        
                    }

                    .casette{
                        animation-name: don;
                        animation-duration: 2.5s;
                        animation-timing-function: ease-in-out;
                        animation-delay: 0s;
                        animation-iteration-count: 1;
                        animation-direction: alternate;
                        animation-fill-mode: none;
                        animation-play-state: running;
                        cursor: zoom-out;
                        display: flex;
                        flex-direction: column;
                        margin-top: 4rem;
                        .lady{
                            height: 16rem;
                            width: 19.5rem;
                            position: relative;
                            bottom: 1rem;
                            right: 1rem;
                        }
                        .player{
                            height: 18rem;
                            width: 19.5rem;
                        }
                    }
                    @keyframes don{
                        from {margin: 50rem auto;}
                        to {margin: 4rem auto;};
    
                        from {display: block;}
                        to {display: none;}
                    }
                }
            }
            .second-page{
                margin-top: 0rem;
                padding: 0 2rem 2rem 2rem;
                background-color: $lightBackground;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .text{
                    padding: 2rem 0 2rem 0;
                    h1{
                        font-size: 36px;
                    }
                    p{
                        margin-top: 1rem;
                        line-height: 150.5%;
                        b{
                            color: #F15E69;
                        }
                    }
                }
                .laughing-guy{
                    display: none;
                }
                
            }
            .third-page{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 2rem 2rem 2rem 2rem;
                h1{
                    font-size: 36px;
                    span{
                        color: #F15E69;
                    }
                }
                button{
                    position: relative;
                    padding: 0 2rem 0 2rem;
                    top: 1rem;
                    img{
                        position: relative;
                        top: 3px;
                        background: transparent;
                    }
                }
            }
        }
        footer{
            padding: 0 0rem 57px 2rem;
            .footer-container{
                margin: auto 0px;
                position: relative;
                top: 3.5rem;
                display: flex;
                justify-content: space-between;
                .footer-text{
                    display: flex;
                    flex-direction: column;
                    margin-left: 3rem;
                    p{
                        margin-bottom: 4rem;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 481px) and (max-width: 768px){
    .Expo-page{
        img {
            width: 15rem;
            height: 17rem;
        }
    }

    .landing-page{
        background-color: $darkBackground;
        .background{
            position: absolute;
            background-image: url('./assets/image 1.png');
            width: 100%;
            height: 100vh;
            opacity: .1;
        }
    
        nav, body{
            position: relative;
            z-index: 2;
        }
    
        nav{
            display: flex;
            justify-content: space-between;
            padding: 2rem 2rem 0 2rem;
            .nav-links{
                ul{
                    list-style: none;
                    padding-top: 1rem;
                    font-size: 14px;
                    display: flex;
                    hr{
                        border: 2px solid #F15E69;
                        border-radius: 4px;
                        width: 1rem;
                    }
                    li{
                        margin-right: 2rem;
                    }
                }
            }
            button{
                margin-top: 4px;
            }
        }
    
        body{
            .first-page{
                padding: 4rem 0rem 0 0rem;
                .text{
                    padding: 0 2rem 0 2rem;
                    text-align: center;
                    h1{
                        font-size: 48px;
                        line-height: 110.5%;
                        span{
                            color: #F15E69
                        }
                    } 
                    p{
                        padding-top: 1rem;
                    }   
                    .button-div{
                        margin: 2rem auto;
                        input{
                            width: 20rem;
                            margin-right: 1rem;
                            background: $lightBackground;
                            border: 1px solid $lightBackground;
                        }
                        button{
                            margin-top: .5rem;
                            padding: 0 2rem 0 2rem;
                            width: 20rem;
                            img{
                                position: relative;
                                top: 3px;
                                background: transparent;
                            }
                        }
                        
                    }
                }
                
                @keyframes dera {
                    from {margin-top: 50rem;}
                    to {margin-top: 0rem;}
                }
    
                .celebs{
                    animation-name: dera;
                    animation-duration: 2.5s;
                    animation-timing-function: ease-out;
                    animation-delay: 0s;
                    animation-iteration-count: 1;
                    animation-direction: alternate;
                    animation-fill-mode: none;
                    animation-play-state: running;
                    cursor: zoom-out;
                    margin-top: 1rem;
                }
            }
            .second-page{
                margin-top: 2rem;
                padding: 0 2rem 2rem 2rem;
                background-color: $lightBackground;
                display: flex;
                // flex-direction: column;
                justify-content: space-between;
                .text{
                    padding: 2rem 0 2rem 0;
                    h1{
                        font-size: 36px;
                    }
                    p{
                        margin-top: 1rem;
                        line-height: 150.5%;
                        b{
                            color: #F15E69;
                        }
                    }
                }
                .image{
                    position: relative;
                    right: 0rem;
                    top: 4.5rem;
                    img{
                        width: 23rem;
                    }
                }
                
            }
            .third-page{
                margin-top: 2rem;
                .container{
                    display: flex;
                    justify-content: center;
                    height: 31rem;
                }
    
                .text{
                    position: absolute;
                    top: 76rem;
                    left: 5rem;
                    h1{
                        font-size: 64px;
                        span{
                            color: #F15E69;
                        }
                    }
                    
                    button{
                        margin-top: 1rem;
                    }    
                }
    
               
            }
            .fourth-page{
                display: flex;
                // flex-direction: column;
                justify-content: space-between;
                padding: 2rem 2rem 2rem 2rem;
                h1{
                    font-size: 36px;
                    span{
                        color: #F15E69;
                    }
                }
                button{
                    position: relative;
                    padding: 0 2rem 0 2rem;
                    top: 1rem;
                    img{
                        position: relative;
                        top: 3px;
                        background: transparent;
                    }
                }
            }
        }
    
        footer{
            padding: 0 0rem 57px 2rem;
            .footer-container{
                margin: auto 0px;
                position: relative;
                top: 3.5rem;
                display: flex;
                justify-content: space-between;
                .footer-text{
                    display: flex;
                    flex-direction: column;
                    margin-left: 3rem;
                    p{
                        margin-bottom: 4rem;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
    .about-page{
        background-color: $darkBackground;
        .background{
            position: absolute;
            background-image: url('./assets/image 1.png');
            width: 100%;
            height: 94vh;
            opacity: .1;
        }
    
        nav{
            display: flex;
            justify-content: space-between;
            padding: 2rem 2rem 0 2rem;
            .nav-links{
                ul{
                    list-style: none;
                    padding-top: 1rem;
                    font-size: 14px;
                    display: flex;
                    hr{
                        border: 2px solid #F15E69;
                        border-radius: 4px;
                        width: 1rem;
                    }
                    li{
                        margin-right: 2rem;
                    }
                }
            }
            button{
                // display: none;
                margin-top: 4px;
            }
        }
        .body{
            .first-page{
                padding: 4rem 0 0 0;
                .text{
                    text-align: center;
                    h1{
                        padding: 0 2rem 0 2rem;
                        font-size: 48px;
                        line-height: 110.5%;
                        span{
                            color: #F15E69
                        }
                    } 
                    p{
                        padding-top: 1rem;
                    }   
                    .button-div{
                        margin: 2rem auto;
                        input{
                            width: 20rem;
                            margin-right: 1rem;
                            background: $lightBackground;
                            border: 1px solid $lightBackground;
                        }
                        button{
                            margin-top: .5rem;
                            padding: 0 2rem 0 2rem;
                            width: 20rem;
                            img{
                                position: relative;
                                top: 3px;
                                background: transparent;
                            }
                        }
                        
                    }

                    .casette{
                        animation-name: don;
                        animation-duration: 2.5s;
                        animation-timing-function: ease-in-out;
                        animation-delay: 0s;
                        animation-iteration-count: 1;
                        animation-direction: alternate;
                        animation-fill-mode: none;
                        animation-play-state: running;
                        cursor: zoom-out;
                        display: flex;
                        // flex-direction: column;
                        align-items: center;
                        margin-top: 4rem;
                        padding: 0 2rem 0 0;
                        .lady{
                            height: 20rem;
                            width: 25rem;
                            position: relative;
                            bottom: 0rem;
                            right: .5rem;
                        }
                        .player{
                            height: 23rem;
                            width: 28rem;
                        }
                    }
                    @keyframes don{
                        from {margin: 50rem auto;}
                        to {margin: 4rem auto;};
    
                        from {display: block;}
                        to {display: none;}
                    }
                }
            }
            .second-page{
                margin-top: 2rem;
                padding: 0 2rem 2rem 2rem;
                background-color: $lightBackground;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .text{
                    padding: 2rem 0 2rem 0;
                    h1{
                        font-size: 36px;
                    }
                    p{
                        margin-top: 1rem;
                        line-height: 150.5%;
                        b{
                            color: #F15E69;
                        }
                    }
                }
                .laughing-guy{
                    display: none;
                }
                
            }
            .third-page{
                display: flex;
                // flex-direction: column;
                justify-content: space-between;
                padding: 2rem 2rem 2rem 2rem;
                h1{
                    font-size: 36px;
                    span{
                        color: #F15E69;
                    }
                }
                button{
                    position: relative;
                    padding: 0 2rem 0 2rem;
                    top: 1rem;
                    img{
                        position: relative;
                        top: 3px;
                        background: transparent;
                    }
                }
            }
        }
        footer{
            padding: 0 0rem 57px 2rem;
            .footer-container{
                margin: auto 0px;
                position: relative;
                top: 3.5rem;
                display: flex;
                justify-content: space-between;
                .footer-text{
                    display: flex;
                    flex-direction: column;
                    margin-left: 3rem;
                    p{
                        margin-bottom: 4rem;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 769px) and (max-width: 1024px){
    .Expo-page{
        img {
            width: 21rem;
            height: 23rem;
        }
    }

    .landing-page{
        background-color: $darkBackground;
        .background{
            position: absolute;
            background-image: url('./assets/image 1.png');
            width: 100%;
            height: 70vh;
            opacity: .1;
        }
    
        nav, body{
            position: relative;
            z-index: 2;
        }
    
        nav{
            display: flex;
            justify-content: space-between;
            padding: 2rem 2rem 0 2rem;
            .nav-links{
                ul{
                    list-style: none;
                    padding-top: 1rem;
                    font-size: 14px;
                    display: flex;
                    hr{
                        border: 2px solid #F15E69;
                        border-radius: 4px;
                        width: 1rem;
                    }
                    li{
                        margin-right: 2rem;
                    }
                }
            }
            button{
                margin-top: 4px;
            }
        }
    
        body{
            .first-page{
                padding: 4rem 0rem 0 0rem;
                .text{
                    padding: 0 2rem 0 2rem;
                    text-align: center;
                    h1{
                        font-size: 64px;
                        line-height: 110.5%;
                        span{
                            color: #F15E69
                        }
                    } 
                    p{
                        padding-top: 1rem;
                    }   
                    .button-div{
                        margin: 2rem auto;
                        input{
                            width: 20rem;
                            margin-right: 1rem;
                            background: $lightBackground;
                            border: 1px solid $lightBackground;
                        }
                        button{
                            margin-top: .5rem;
                            padding: 0 2rem 0 2rem;
                            width: 20rem;
                            img{
                                position: relative;
                                top: 3px;
                                background: transparent;
                            }
                        }
                        
                    }
                }
                
                @keyframes dera {
                    from {margin-top: 50rem;}
                    to {margin-top: 0rem;}
                }
    
                .celebs{
                    animation-name: dera;
                    animation-duration: 2.5s;
                    animation-timing-function: ease-out;
                    animation-delay: 0s;
                    animation-iteration-count: 1;
                    animation-direction: alternate;
                    animation-fill-mode: none;
                    animation-play-state: running;
                    cursor: zoom-out;
                    margin-top: 1rem;
                }
            }
            .second-page{
                margin-top: 2rem;
                padding: 0 2rem 2rem 2rem;
                background-color: $lightBackground;
                display: flex;
                // flex-direction: column;
                justify-content: space-between;
                .text{
                    padding: 2rem 0 2rem 0;
                    h1{
                        font-size: 48px;
                    }
                    p{
                        margin-top: 1rem;
                        line-height: 150.5%;
                        b{
                            color: #F15E69;
                        }
                    }
                }
                .image{
                    position: relative;
                    right: 0rem;
                    top: 2rem;
                    img{
                        width: 23rem;
                    }
                }
                
            }
            .third-page{
                margin-top: 2rem;
                .container{
                    display: flex;
                    justify-content: center;
                    height: 43rem;
                }
    
                .text{
                    position: absolute;
                    top: 84rem;
                    left: 5rem;
                    h1{
                        font-size: 84px;
                        span{
                            color: #F15E69;
                        }
                    }
                    
                    button{
                        margin-top: 1rem;
                    }    
                }
    
               
            }
            .fourth-page{
                display: flex;
                // flex-direction: column;
                justify-content: space-between;
                padding: 2rem 2rem 2rem 2rem;
                h1{
                    font-size: 48px;
                    span{
                        color: #F15E69;
                    }
                }
                button{
                    position: relative;
                    padding: 0 2rem 0 2rem;
                    top: 1rem;
                    img{
                        position: relative;
                        top: 3px;
                        background: transparent;
                    }
                }
            }
        }
    
        footer{
            padding: 0 0rem 57px 2rem;
            .footer-container{
                margin: auto 0px;
                position: relative;
                top: 3.5rem;
                display: flex;
                justify-content: space-between;
                .footer-text{
                    display: flex;
                    flex-direction: column;
                    margin-left: 3rem;
                    p{
                        margin-bottom: 4rem;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
    .about-page{
        background-color: $darkBackground;
        .background{
            position: absolute;
            background-image: url('./assets/image 1.png');
            width: 100%;
            height: 73vh;
            opacity: .1;
        }
    
        nav{
            display: flex;
            justify-content: space-between;
            padding: 2rem 2rem 0 2rem;
            .nav-links{
                ul{
                    list-style: none;
                    padding-top: 1rem;
                    font-size: 14px;
                    display: flex;
                    hr{
                        border: 2px solid #F15E69;
                        border-radius: 4px;
                        width: 1rem;
                    }
                    li{
                        margin-right: 2rem;
                    }
                }
            }
            button{
                // display: none;
                margin-top: 4px;
            }
        }
        .body{
            .first-page{
                padding: 4rem 0 0 0;
                .text{
                    text-align: center;
                    h1{
                        padding: 0 2rem 0 2rem;
                        font-size: 64px;
                        line-height: 110.5%;
                        span{
                            color: #F15E69
                        }
                    } 
                    p{
                        padding-top: 1rem;
                    }   
                    .button-div{
                        margin: 2rem auto;
                        input{
                            width: 20rem;
                            margin-right: 1rem;
                            background: $lightBackground;
                            border: 1px solid $lightBackground;
                        }
                        button{
                            margin-top: .5rem;
                            padding: 0 2rem 0 2rem;
                            width: 20rem;
                            img{
                                position: relative;
                                top: 3px;
                                background: transparent;
                            }
                        }
                        
                    }

                    .casette{
                        animation-name: don;
                        animation-duration: 2.5s;
                        animation-timing-function: ease-in-out;
                        animation-delay: 0s;
                        animation-iteration-count: 1;
                        animation-direction: alternate;
                        animation-fill-mode: none;
                        animation-play-state: running;
                        cursor: zoom-out;
                        display: flex;
                        // flex-direction: column;
                        align-items: center;
                        margin-top: 4rem;
                        .lady{
                            height: 25rem;
                            width: 30rem;
                            position: relative;
                            bottom: 0rem;
                            right: .5rem;
                        }
                    }
                    @keyframes don{
                        from {margin: 50rem auto;}
                        to {margin: 4rem auto;};
    
                        from {display: block;}
                        to {display: none;}
                    }
                }
            }
            .second-page{
                margin-top: 2rem;
                padding: 0 2rem 2rem 2rem;
                background-color: $lightBackground;
                display: flex;
                // flex-direction: column;
                justify-content: space-between;
                .text{
                    padding: 2rem 0 2rem 0;
                    h1{
                        font-size: 48px;
                    }
                    p{
                        margin-top: 1rem;
                        line-height: 150.5%;
                        b{
                            color: #F15E69;
                        }
                    }
                }
                .laughing-guy{
                    // display: none;
                    position: relative;
                    right: 6rem;
                }
                
            }
            .third-page{
                display: flex;
                // flex-direction: column;
                justify-content: space-between;
                padding: 2rem 2rem 2rem 2rem;
                h1{
                    font-size: 48px;
                    span{
                        color: #F15E69;
                    }
                }
                button{
                    position: relative;
                    padding: 0 2rem 0 2rem;
                    top: 1rem;
                    img{
                        position: relative;
                        top: 3px;
                        background: transparent;
                    }
                }
            }
        }
        footer{
            padding: 0 0rem 57px 2rem;
            .footer-container{
                margin: auto 0px;
                position: relative;
                top: 3.5rem;
                display: flex;
                justify-content: space-between;
                .footer-text{
                    display: flex;
                    flex-direction: column;
                    margin-left: 3rem;
                    p{
                        margin-bottom: 4rem;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
